
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script src="//use.edgefonts.net/shadows-into-light.js"></script>

    <style>
    #all{
        font-family :shadows-into-light, sans-serif;
    }
    #drop{
        font-family :shadows-into-light, sans-serif;
        font-size: 110%;

    }
    #title{
            font-family :shadows-into-light, sans-serif;
            font-size : 50Px;
        }
    </style>
</head>
<body>
    <div id="all">
        <div class="container-fluid">
            <div class="row-fluid">
                 <div class="span12">
                    <h2><strong> Genres for that show are...</strong></h2>
                        {% for genre in genres %}
                            {{genre}}<br>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>